@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
}

body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 22px;
  line-height: 26px;

  background-color: #f2f2f2;
}

/* page */

.page__container {
  display: flex;
  flex-direction: column;
  inline-size: 1200px;
  min-block-size: 100%;
  margin-inline: auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page__main {
  flex-grow: 1;
}

.page--index .page__advantages {
  margin-block-end: 64px;
}

.page--index .page__heading {
  margin-block-end: 25px;
}

.page--index .page__main {
  display: flex;
  flex-direction: column;
}

.page--index .page__hero {
  order: -1;
  margin-block-end: 69px;
}

/* page-header */

.page-header {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 70px;
  background-color: #ffffff;
}

.page-header__logo {
  margin-inline-end: 28px;
}

.page-header__want-btn {
  align-self: center;
  max-inline-size: 160px;
}

/* logo */

.logo {
  display: block;
  position: relative;
  inline-size: 140px;
}

.logo__img {
  position: absolute;
}

.logo:hover {
  filter: opacity(0.8);
}

.logo:active {
  filter: opacity(0.6);
}

/* main-navigation */

.main-navigation {
  max-inline-size: 450px;
  margin-inline-end: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-navigation__link {
  --padding-inline: 16px;

  position: relative;

  display: block;
  padding-inline: var(--padding-inline);
  padding-block: 20px;

  text-decoration: none;
  color: #000000;
}

.main-navigation__link:is(:hover, :focus) {
  color: #756157;
}

@supports selector(:focus-visible) {
  .main-navigation__link:focus {
    color: #000000;
  }

  .main-navigation__link:is(:hover, :focus-visible) {
    color: #756157;
  }
}

.main-navigation__link:active {
  color: #d6d0cd;
}

.main-navigation__link--active::after {
  content: "";
  position: absolute;
  inset-inline: var(--padding-inline);
  inset-block-end: -1px;

  display: block;
  block-size: 2px;
  background-color: #756257;
}

/* header-action */

.header-action {
  position: relative;

  padding-inline: 12px;
  padding-block: 22px;
  min-inline-size: 44px;
  min-block-size: 44px;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;

}

.header-action::before {
  position: absolute;
  inset: 0;

  background-color: #000000;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.header-action:is(:hover, :focus)::before {
  background-color: #756157;
}

@supports selector(:focus-visible) {
  .header-action:focus::before {
    background-color: #000000;
  }

  .header-action:is(:hover, :focus-visible)::before {
    background-color: #756157;
  }
}

.header-action:active::before {
  background-color: #d6d0cd;
}

.header-action--search::before,
.header-action--favorites::before {
  content: "";
  display: block;
}

.header-action--search::before {
  -webkit-mask-image: url("../images/icons/search.svg");
          mask-image: url("../images/icons/search.svg");
}

.header-action--favorites {
  margin-inline-end: 20px;
}

.header-action--favorites::before {
  -webkit-mask-image: url("../images/icons/heart.svg");
          mask-image: url("../images/icons/heart.svg");
}

.header-action__badge {
  position: absolute;
  inset-block-start: calc(50% - 21px);
  inset-inline-start: calc(50% - 2px);

  padding-block: 5px;
  min-inline-size: 20px;
  min-block-size: 20px;

  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-align: center;

  border-radius: 50%;
}

/* page-heading */

.page-heading {
  padding-inline: 250px;

  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.page-heading__slogan {
  margin: 0;
}

/* hero */

.hero {
  display: grid;
  grid-template-rows: 51px auto 82px;

  background-color: #768693;
}

.hero::after {
  content: "";
  position: relative;
  inset-block-end: -1px;
  display: block;
  grid-column: 1;
  grid-row-end: -1;

  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  background-position: center bottom 0;
  background-size: 100% auto;
}

.hero__image-wrapper {
  grid-row: 1 / -1;
  grid-column: 1;
}

.hero__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.hero__content {
  grid-row: 2;
  grid-column: 1;
}

.hero__description {
  display: block;
  margin-inline: auto;
}

/* advantages */

.advantages {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages__title {
  padding-inline: 240px;
  margin-block: 0 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item--large {
  grid-column: span 3;
}

/* advantage */

.advantage {
  display: grid;
  grid-template-rows: minmax(65px, 1fr) repeat(10, auto) minmax(65px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  min-block-size: 385px;

  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  background-color: #f0f5f9;
}

.advantage__title {
  position: relative;

  margin-block: 20px 62px;
  padding-inline: 112px;
  min-block-size: 2lh;
  grid-row-start: 2;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.advantage__title::after {
  --bar-length: 60px;

  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: -31px;
  block-size: 2px;
  inline-size: var(--bar-length);
  margin-inline-start: calc(-1 * var(--bar-length) / 2);
  background-color: rgba(0, 0, 0, 0.3);
}

.advantage__description {
  margin-block: 0 18px;
  padding-inline: 84px;

  -webkit-hyphens: auto;
          hyphens: auto;
}

.advantage__image {
  display: block;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.advantage__img-wrapper {
  grid-column: 2 / span 2;
  grid-row: 1 / -1;
}

.advantage__img-wrapper--start {
  grid-column: 1 / span 2;
}

.advantage--dark {
  background-color: #82b3d3;
}

.advantage--dark,
.advantage--dark .advantage__title {
  color: #ffffff;
}

.advantage--dark .advantage__title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage--mid-light {
  background-color: #e6f0f6;
}

/* services */

.services {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.services__title {
  padding-inline: 330px;
  margin-block: 0 20px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.services__staff {
  padding-inline: 335px;
  margin-block: 0 64px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/* service */

.service {
  min-block-size: 385px;
  padding-inline: 85px;
  padding-block: 183px 60px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top 71px;
}

.service--dark {
  background-color: #f0f5f9;
}

.service--housing {
  background-image: url("../images/icons/service-housing.svg");
}

.service--eating {
  background-image: url("../images/icons/service-eating.svg");
}

.service--souvenir {
  background-position-y: 73px;
  background-image: url("../images/icons/service-souvenir.svg");
}

.service__title {
  margin-block: 0 30px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.service__description {
  margin-block: 20px;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* booking */

.booking {
  padding-block: 96px;
  padding-inline: 305px;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.booking__title {
  margin-block: 0 20px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.booking__suggestion {
  margin-block: 20px;
}

.booking__search-button {
  max-inline-size: 376px;
  margin-block-start: 54px;
  margin-inline: auto;
}

/* subscription */

.subscription {
  padding-inline: 258px;
  padding-block: 96px 104px;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.subscription--with-background {
  background-color: #556975;
  background-image: url("../images/subscribe-background.jpg");
  background-image: image-set(
    url("../images/subscribe-background@2x.avif") type("image/avif") 2x,
    url("../images/subscribe-background.avif") type("image/avif") 1x,
    url("../images/subscribe-background@2x.webp") type("image/webp") 2x,
    url("../images/subscribe-background.webp") type("image/webp") 1x,
    url("../images/subscribe-background@2x.jpg") 2x,
    url("../images/subscribe-background.jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription__title {
  margin-block: 0 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscription__clarification {
  margin-block: 20px;
}

.subscription--with-background,
.subscription--with-background .subscription__title {
  color: #ffffff;
}

.subscription__form {
  display: flex;
  margin-block-start: 55px;

  border-radius: 4px;
}

.subscription__email-input {
  min-inline-size: 452px;
  padding-block: 14px;
  padding-inline: 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  border: none;
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  background-color: #f2f2f2;
}

.subscription__email-input::placeholder {
  color: #616161;
}

.subscription__email-input:is(:hover, :focus) {
  background-color: #e5e5e5;
}

.subscription__email-input:disabled,
.subscription__email-input:disabled:is(:focus, :hover) {
  background-color: #f2f2f2;
  filter: opacity(0.6);
}

.subscription__submit.btn {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

/* page-footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 45px 35px;
  padding-inline: 70px;

  font-family: "PT Sans", sans-serif;
}

.page-footer__phone {
  max-inline-size: 350px;
  text-align: center;
}

.page-footer__phone-number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

.page-footer__phone-number:is(:hover, :focus) {
  color: #756157;
}

@supports selector(:focus-visible) {
  .page-footer__phone-number:focus {
    color: #000000;
  }

  .page-footer__phone-number:is(:hover, :focus-visible) {
    color: #756157;
  }
}

.page-footer__phone-number:active {
  color: #d6d0cd;
}

.page-footer__made-by {
  margin: 0;
}

/* htmlacademy-link */

.htmlacademy-link {
  position: relative;

  display: block;
  inline-size: 115px;
  min-block-size: 33px;
}

.htmlacademy-link::before {
  content: "";

  position: absolute;
  inset: 0;
  display: block;

  background-color: #000000;
  -webkit-mask-image: url("../images/htmlacademy-logo.svg");
          mask-image: url("../images/htmlacademy-logo.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.htmlacademy-link:is(:hover, :focus)::before {
  background-color: #756157;
}

@supports selector(:focus-visible) {
  .htmlacademy-link:focus::before {
    background-color: #000000;
  }

  .htmlacademy-link:is(:hover, :focus-visible)::before {
    background-color: #756157;
  }
}

.htmlacademy-link:active::before {
  background-color: #d6d0cd;
}

.page-footer__made-by {
  margin: 0;
}

/* socials */

.socials {
  inline-size: 142px;
}

.socials__list-wrapper {
  font-style: normal;
}

.socials__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__link {
  position: relative;

  display: block;
  min-block-size: 40px;
  min-inline-size: 40px;
  inline-size: 100%;
  padding-inline: 10px;
  padding-block: 10px;
  color: #000000;
  text-decoration: none;
}

.socials__link::before {
  content: "";

  position: absolute;
  inset: 0;
  display: block;

  background-color: #82b3d3;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.socials__link--vk::before {
  -webkit-mask-image: url("../images/icons/social-vk.svg");
          mask-image: url("../images/icons/social-vk.svg");
}

.socials__link--telegram::before {
  -webkit-mask-image: url("../images/icons/social-telegram.svg");
          mask-image: url("../images/icons/social-telegram.svg");
}

.socials__link--youtube::before {
  -webkit-mask-image: url("../images/icons/social-youtube.svg");
          mask-image: url("../images/icons/social-youtube.svg");
}

.socials__link:is(:hover, :focus)::before {
  background-color: #68a2ca;
}

@supports selector(:focus-visible) {
  .socials__link:focus::before {
    background-color: #82b3d3;
  }

  .socials__link:is(:hover, :focus-visible)::before {
    background-color: #68a2ca;
  }
}

.socials__link:active::before {
  background-color: #d2e4f0;
}

/* catalog-intro */

.catalog-intro {
  padding-block: 35px 69px;
  padding-inline: 70px;

  background-color: #54606c;
  background-image: url("../images/filter-background.jpg");
  background-image: image-set(
    url("../images/filter-background@2x.avif") type("image/avif") 2x,
    url("../images/filter-background.avif") type("image/avif") 1x,
    url("../images/filter-background@2x.webp") type("image/webp") 2x,
    url("../images/filter-background.webp") type("image/webp") 1x,
    url("../images/filter-background@2x.jpg") 2x,
    url("../images/filter-background.jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* catalog-header */

.catalog-header {
  margin-block-end: 30px;

  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}

.catalog-header__title {
  margin-block: 0 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link--home {
  min-inline-size: 13px;
  min-block-size: 15px;

  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link:hover {
  filter: opacity(0.6);
}

.breadcrumbs__link:active {
  filter: opacity(0.3);
}

.breadcrumbs__link--active:is(:hover, :active) {
  filter: none;
}

.breadcrumbs__item {
  margin-block-end: 10px;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  margin-inline-end: 28px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";

  position: absolute;
  inset-block: 0;
  inset-inline-end: -18px;
  display: block;
  inline-size: 8px;

  background-image: url("../images/icons/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* field-group */

.field-group {
  min-inline-size: 150px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  border: none;
}

.field-group__legend {
  margin-block-end: 32px;
  padding: 0;

  font-weight: 700;
  text-transform: capitalize;
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field-group__item {
  margin-block-end: 16px;
}

.field-group__item:last-child {
  margin-block-end: 0;
}

/* filters */

.filters {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.filters__form {
  display: flex;
}

.filters__infra,
.filters__price {
  margin-inline-end: 70px;
}

.filters__housing {
  margin-inline-end: auto;
}

.filters__infra,
.filters__housing {
  inline-size: 150px;
}

.filters__price {
  inline-size: 288px;
}

.filters__buttons {
  padding-block-start: 56px;
  inline-size: 191px;
}

.filters__submit {
  margin-block-end: 32px;
}

.filters__reset {
  display: block;
  inline-size: 100%;
  padding-block: 8px;

  font-family: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;

  background: none;
  cursor: pointer;
}

.filters__reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filters__reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters__reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

/* field-label */

.field-label {
  position: relative;
  padding-inline-start: 36px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.field-label__mark {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 1px;

  display: block;
  inline-size: 20px;
  block-size: 20px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-field .field-label__mark {
  border-radius: 4px;
  background-position: center bottom -1px;
}

.radio-field .field-label__mark {
  border-radius: 50%;
}

.checkbox-field__input:checked ~ .field-label .field-label__mark {
  background-image: url("../images/icons/control-checkbox.svg");
}

.radio-field__input:checked ~ .field-label .field-label__mark {
  border: 5px solid #ffffff;
  background-color: #3f5e72;
}

.checkbox-field__input:hover ~ .field-label,
.radio-field__input:hover ~ .field-label {
  filter: opacity(0.6);
}

.checkbox-field__input:focus ~ .filed-label .field-label__mark,
.radio-field__input:focus ~ .filed-label .field-label__mark {
  outline: 3px solid #83b3d3;
}

@supports selector(:focus-visible) {
  .checkbox-field__input:focus ~ .field-label .field-label__mark,
  .radio-field__input:focus ~ .field-label .field-label__mark {
    outline: none;
  }

  .checkbox-field__input:focus-visible ~ .field-label .field-label__mark,
  .radio-field__input:focus-visible ~ .field-label .field-label__mark {
    outline: 3px solid #83b3d3;
  }
}

:is(.checkbox-field__input:active, .checkbox-field__input:disabled) ~ .field-label,
:is(.radio-field__input:active, .radio-field__input:disabled) ~ .field-label {
  filter: opacity(0.3);
}

/* checkbox-field */

.checkbox-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

/* radio-field */

.radio-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

/* price-control */

.price-control {
  display: flex;
}

.filters__price .price-control {
  margin-block-end: 36px;
}

.price-control__from {
  margin-inline-end: 2px;
}

.price-control__from,
.price-control__to {
  flex-grow: 1;
}

/* price-field */

.price-field {
  position: relative;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.price-field__input {
  inline-size: 100%;
  padding-inline: 20px 45px;
  padding-block: 12px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  font-weight: 700;

  border: 0;
  background-color: #f2f2f2;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.price-field__input::-webkit-outer-spin-button,
.price-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.price-control__from .price-field__input {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}

.price-control__to .price-field__input {
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.price-field__input:is(:hover, :focus) {
  background-color: #e5e5e5;
}

.price-field__input:disabled,
.price-field__input:disabled:is(:focus, :hover) {
  background-color: #f2f2f2;
  filter: opacity(0.3);
  pointer-events: none;
}

.price-field__label {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 20px;

  display: block;
  transform: translateY(-50%);

  color: rgba(0, 0, 0, 0.3);
  text-transform: lowercase;
}

/* dual-range */

.dual-range {
  --_start: var(--start, 0%);
  --_end: var(--end, 100%);

  position: relative;
  padding-block: 8px;
}

.dual-range::before {
  content: "";

  display: block;
  block-size: 5px;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3) var(--_start),
    #ffffff var(--_start),
    #ffffff var(--_end),
    rgba(255, 255, 255, 0.3) var(--_end)
  );
}

.dual-range__thumb {
  position: absolute;
  inset-block-start: 50%;

  display: block;
  inline-size: 20px;
  block-size: 20px;
  margin-block-start: -10px;

  border: 0;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.dual-range__thumb--start {
  inset-inline-start: var(--_start);
}

.dual-range__thumb--end {
  inset-inline-start: calc(var(--_end) - 20px);
}

.dual-range__thumb:is(:hover, :focus) {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.dual-range__thumb:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.dual-range__thumb:disabled,
.dual-range__thumb:disabled:is(:hover, :focus, :active) {
  filter: opacity(0.8);
  box-shadow: none;
  outline: 0;
  cursor: default;
}

.dual-range--disabled {
  filter: opacity(0.3);
}

/* select */

.select {
  position: relative;
  inline-size: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select__input {
  position: relative;
  inline-size: 100%;
  padding-block: 12px;
  padding-inline: 18px 48px;
  z-index: 1;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select__input:hover {
  border-color: #68a2ca;
}

.select__input:disabled {
  border-color: #b3b3b3;
  color: #b3b3b3;
  pointer-events: none;
}

.select__input:disabled ~ .select__label::before {
  filter: opacity(0.3);
}

.select__label::before {
  content: "";

  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 16px;

  display: block;
  inline-size: 20px;
  block-size: 20px;
  margin-block-start: -10px;

  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select__input:open ~ .select__label::before {
  transform: rotate(180deg);
}

/* offers */

.offers {
  padding-block: 50px 52px;
  padding-inline: 70px;

  font-family: "PT Sans", sans-serif;
  color: #333333;
}

.offers__heading {
  display: flex;
  align-items: flex-start;
}

.offers__title {
  margin: 0;
  padding-block: 6px;
  margin-inline-end: auto;
  max-inline-size: 450px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.offers__sort-by {
  max-inline-size: 292px;
  margin-inline-end: 70px;
}

.offers__view {
  display: flex;
  flex-wrap: wrap;
  max-inline-size: 160px;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
}

.offers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
  margin: 0;
  margin-block-end: 39px;
  padding: 0;
  padding-block: 40px;
  list-style-type: none;

  border-block-end: 1px solid #e6e6e6;
}

@supports (grid-template-rows: subgrid) {
  .offers__list {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content min-content min-content min-content min-content;
  }
}

/* view-btn */

.view-btn {
  display: block;
  padding-inline: 16px;
  padding-block: 17px;
  min-inline-size: 48px;
  min-block-size: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-btn:hover {
  border-color: #000000;
}

.view-btn:focus {
  border-color: #e5e5e5;
}

@supports selector(:focus-visible) {
  .view-btn:focus-visible {
    border-color: #e5e5e5;
  }

  .view-btn:hover {
    border-color: #000000;
  }
}

.view-btn:active,
.view-btn--active {
  border-color: #000000;
}

.view-btn--tile {
  background-image: url("../images/icons/view-tile.svg");
}

.view-btn--slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
}

.view-btn--list {
  background-image: url("../images/icons/view-list.svg");
}

/* offer */

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto repeat(3, min-content);
  align-items: center;
  gap: 16px 20px;
  padding: 20px;
  inline-size: 340px;
  block-size: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

@supports (grid-template-rows: subgrid) {
  .offers__list .offer {
    grid-column: span 2;
    grid-row: span 5;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
}

.offer__title,
.offer__housing-type,
.offer__price,
.offer__stars,
.offer__rating {
  margin: 0;
}

.offer__title-link {
  align-self: stretch;
  grid-column: 1 / -1;

  text-decoration: none;
  color: #000000;
}

.offer__title-link:hover {
  color: #756157;
}

.offer__title-link:active {
  color: #d6d0cd;
}

.offer__title {
  font-size: 24px;
  line-height: 28px;
}

.offer__img-link {
  order: -1;
  grid-column: 1 / -1;
}

.offer__img-link:hover {
  filter: opacity(0.8);
}

.offer__img-link:active {
  filter: opacity(0.6);
}

.offer__img {
  display: block;
  object-fit: cover;
}

@supports (contain: size) {
  .offer__img-link {
    align-self: stretch;
  }

  .offer__img {
    contain: size;
    width: 100%;
    height: 100%;
  }
}

.offer__price {
  text-align: end;
}

.offer__rating {
  padding-block: 9px 8px;
  padding-inline: 8px;

  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;

  border-radius: 4px;
}

.offer__stars {
  --star-count: 0;

  min-block-size: 20px;
  inline-size: calc(24px * var(--star-count) - 6px);

  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: left center;
}

.offer__stars--1 {
  --star-count: 1;
}

.offer__stars--2 {
  --star-count: 2;
}

.offer__stars--3 {
  --star-count: 3;
}

.offer__stars--4 {
  --star-count: 4;
}

.offer__stars--5 {
  --star-count: 5;
}


/* pagination  */

.pagination {
  font-family: "PT Sans", sans-serif;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  margin-inline-end: 8px;
  margin-block-end: 8px;
}

.pagination__item:last-child {
  margin-inline-end: 0;
}

.pagination__ellipsis {
  display: block;
  padding-block: 16px 17px;
  min-block-size: 60px;
  min-inline-size: 60px;
  inline-size: 100%;

  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/* modal */

.modal {
  inline-size: 717px;
  padding-block: 64px;
  padding-inline: 70px;

  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;

  border: 0;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal::backdrop {
  background-color: rgba(242, 242, 242, 0.8);
}

.modal__close-btn {
  position: relative;

  float: right;
  margin-inline: 20px -18px;
  margin-block-end: 20px;
  inline-size: 52px;
  block-size: 52px;

  border: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal__close-btn::before {
  content: "";

  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;

  display: block;
  block-size: 20px;
  inline-size: 20px;
  margin-block-start: -10px;
  margin-inline-start: -10px;

  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal__close-btn:is(:hover, :focus) {
  background-color: #e6e6e6;
}

@supports selector(:focus-visible) {
  .modal__close-btn:focus {
    background-color: #f2f2f2;
  }

  .modal__close-btn:is(:hover, :focus-visible) {
    background-color: #e6e6e6;
  }
}

.modal__close-btn:active {
  background-color: #e6e6e6;
}

.modal__close-btn:active::before {
  filter: opacity(0.3);
}

.modal__close-btn:disabled {
  background-color: #f2f2f2;
  filter: opacity(0.3);
  cursor: auto;
}

.modal__close-btn:disabled::before {
  filter: none;
}

.modal__content {
  min-inline-size: 577px;
}

.modal__title {
  margin-block: 0 64px;

  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

/* find-form */

.find-form {
  display: grid;
  grid-template-columns: 119px 1fr 52px 114px 1fr;
  grid-template-rows: repeat(3, minmax(77px, auto));
  gap: 19px 18px;
  align-items: start;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}

.find-form__label {
  padding-block: 12px;
  text-transform: capitalize;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.find-form__label-wrapper {
  padding-block: 11px;
}

.find-form__label-wrapper .find-form__label {
  padding: 0;
}

.find-form__label--children {
  grid-column: 4;
}

.find-form .commented-input {
  grid-column: span 4;
}

.find-form__submit {
  grid-column: 1 / -1;
}

/* commented-input */

.commented-input {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.commented-input__input {
  display: block;
  inline-size: 100%;
  padding-block: 12px;
  padding-inline: 20px 60px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  border: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.commented-input__input:is(:hover, :focus) {
  background-color: #e6e6e6;
}

.commented-input__input:disabled,
.commented-input__input:disabled ~ .commented-input__description {
  filter: opacity(0.3);
}

.commented-input__input:disabled:hover {
  background-color: #f2f2f2;
}

.commented-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.commented-input__description {
  margin: 0;
  padding-block: 4px;
  padding-inline: 20px;

  font-weight: 400;
}

.commented-input--invalid .commented-input__description {
  color: #ff5757;
}

/* incremental-input */

.incremental-input {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.incremental-input__input {
  grid-row: 1;
  grid-column: 1 / -1;
  padding-block: 14px;
  padding-inline: 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;

  border: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.incremental-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.incremental-input__input:is(:hover, :focus) {
  background-color: #e6e6e6;
}

.incremental-input__input:disabled,
.incremental-input__input:disabled:hover {
  background-color: #f2f2f2;
  filter: opacity(0.3);
}

.incremental-input__input::-webkit-outer-spin-button,
.incremental-input__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.incremental-input__btn {
  position: relative;

  grid-row: 1;
  justify-self: center;
  align-self: center;
  inline-size: 20px;
  block-size: 20px;
  padding: 0;

  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.incremental-input__btn::before {
  content: "";

  position: absolute;
  inset-inline: -10px;
  inset-block: -14px;

  display: block;

  background-color: rgba(117, 97, 87, 0.3);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.incremental-input__btn:is(:hover, :focus)::before {
  background-color: #000000;
}

@supports selector(:focus-visible) {
  .incremental-input__btn:focus::before {
    background-color: rgba(117, 97, 87, 0.3);
  }

  .incremental-input__btn:is(:hover, :focus-visible)::before {
    background-color: #000000;
  }
}

.incremental-input__btn:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.incremental-input__btn:disabled::before,
.incremental-input__btn:disabled:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: auto;
}

.incremental-input__btn--dec {
  z-index: 1;
  grid-column: 1;
}

.incremental-input__btn--dec::before {
  -webkit-mask-image: url("../images/icons/minus.svg");
          mask-image: url("../images/icons/minus.svg");
}

.incremental-input__btn--inc {
  grid-column-end: -1;
}

.incremental-input__btn--inc::before {
  -webkit-mask-image: url("../images/icons/plus.svg");
          mask-image: url("../images/icons/plus.svg");
}

/* info-tooltip */

.info-tooltip {
  position: relative;

  display: inline-block;
  padding-inline: 6px;

  vertical-align: top;
}

.info-tooltip__toggle {
  display: block;
  inline-size: 26px;
  block-size: 26px;

  border: 0;
  border-radius: 50%;
  background-image:
    linear-gradient(to bottom, #82b3d3 7px, rgba(0, 0, 0, 0) 7px, rgba(0, 0, 0, 0) 9px,
      #82b3d3 9px, #82b3d3 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 19px, #82b3d3 19px),
    linear-gradient(to right, #82b3d3 12px, #ffffff 12px, #ffffff 14px, #82b3d3 14px);
  cursor: help;
}

.info-tooltip__toggle:is(:hover, :focus) ~ .info-tooltip__content {
  display: block;
}

.info-tooltip__toggle:disabled {
  filter: opacity(0.3);
  cursor: auto;
}

.info-tooltip__toggle:disabled ~ .info-tooltip__content {
  display: none;
}

.info-tooltip__content {
  position: absolute;
  inset-block-start: calc(100% + 15px);
  inset-inline-start: 50%;

  display: none;
  inline-size: 256px;
  margin-inline-start: -128px;
  padding-inline: 22px 18px;
  padding-block: 15px 18px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.info-tooltip__content::before {
  content: "";

  position: absolute;
  inset-block-start: -18px;
  inset-inline-start: 50%;

  margin-inline-start: -10px;

  border-block: 10px solid rgba(0, 0, 0, 0);
  border-inline: 10px solid rgba(0, 0, 0, 0);
  border-block-end-color: #333333;
}

/* button */

.btn {
  display: block;
  inline-size: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  cursor: pointer;
}

.btn:is(:hover, :focus) {
  background-color: #615048;
}

@supports selector(:focus-visible) {
  .btn:focus {
    background-color: #756157;
  }

  .btn:is(:hover, :focus-visible) {
    background-color: #615048;
  }
}

.btn:active {
  color: #9e9089;
  background-color: #756157;
}

.btn--secondary {
  background-color: #82b3d3;
}

.btn--secondary:is(:hover, :focus) {
  background-color: #68a2ca;
}

@supports selector(:focus-visible) {
  .btn--secondary:focus {
    background-color: #82b3d3;
  }

  .btn--secondary:is(:hover, :focus-visible) {
    background-color: #68a2ca;
  }
}

.btn--secondary:active {
  color: #a7cae0;
  background-color: #82b3d3;
}

.find-form__submit.btn--secondary:active {
  color: #95beda;
  background-color: #68a2ca;
}

.btn--selected {
  background-color: #7db54f;
}

.btn--selected:is(:hover, :focus) {
  background-color: #6c9e42;
}

@supports selector(:focus-visible) {
  .btn--selected:focus {
    background-color: #7db54f;
  }

  .btn--selected:is(:hover, :focus-visible) {
    background-color: #6c9e42;
  }
}

.btn--selected:active {
  color: #a4cb83;
  background-color: #7db54f;
}

.btn:disabled,
.btn--disabled,
.btn:disabled:is(:hover, :focus, :active),
.btn--disabled:is(:hover, :focus, :active) {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

@supports selector(:focus-visible) {
  .btn:disabled:focus-visible,
  .btn--disabled:focus-visible {
    color: #ffffff;
    background-color: #e5e5e5;
    cursor: default;
  }
}

.btn--pagination-active,
.btn--pagination-active:is(:hover, :focus, :active) {
  color: #000000;
  background: #f2f2f2;
  pointer-events: none;
}

@supports selector(:focus-visible) {
  .btn--pagination-active:focus-visible {
    color: #000000;
    background: #f2f2f2;
    pointer-events: none;
  }
}

.btn--mid {
  font-size: 20px;
  line-height: 36px;
}

.btn--large {
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  min-inline-size: 60px;
}

.find-form__submit.btn--large {
  border-radius: 10px;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
